@use 'src/styles/vars';

.hero-main {
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__background-title {
    position: absolute;
    z-index: 1;
  }

  &__container {
    position: absolute;
    z-index: 1;
  }

  &__title {
    font-size: 4rem;
    color: vars.$dark;
    margin:1rem;
    padding-top: 1rem;
    line-height: 4.5rem;
  }
  
  &__subtitle {
    font-size: 1.7rem;
    color: vars.$dark;
    margin:1rem;

  }

  & p {
    width:50%;
    text-align: left;
    margin:2rem;
    font-size: 12rem;
    color: vars.$veryLight;
    font-weight: bolder;
  }
}




